n8n-workflows/viral-to-ads-learn.json
{
  "name": "JP Viral → Ads → Learn Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "name": "Daily 05:00 JST Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/trends/tiktok/harvest",
        "options": {}
      },
      "name": "Harvest TikTok Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract trending hashtags and songs for content generation\nconst trends = $input.all()[0].json.data;\nconst hashtags = trends.filter(t => t.type === 'hashtag').slice(0, 5);\nconst songs = trends.filter(t => t.type === 'song').slice(0, 3);\n\n// Keywords for offer search\nconst keywords = [\n  '美容', 'コスメ', 'ガジェット', 'iPhone', 'ファッション',\n  'グルメ', 'サプリメント', '家電', 'インテリア', 'ゲーム'\n];\n\nreturn {\n  hashtags,\n  songs,\n  keywords,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Process Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/creative/generate-batch",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "keywords",
              "value": "={{$json.keywords}}"
            },
            {
              "name": "trendsCount",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate Creative Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/offers/unified-search",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{$json.keyword}}"
            },
            {
              "name": "limit",
              "value": "3"
            },
            {
              "name": "networks",
              "value": "=[\"rakuten\", \"yahoo\", \"amazon\"]"
            }
          ]
        },
        "options": {}
      },
      "name": "Route Best Offers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/social/multi-platform-post",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$json.creative}}"
            },
            {
              "name": "platforms",
              "value": "=[\"tiktok\", \"instagram\", \"youtube\"]"
            },
            {
              "name": "offers",
              "value": "={{$json.offers}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Multi-Platform Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/boost/queue-watcher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "postId",
              "value": "={{$json.postId}}"
            },
            {
              "name": "watchDuration",
              "value": "3600"
            }
          ]
        },
        "options": {}
      },
      "name": "Queue Boost Watcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "name": "Hourly Boost Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [220, 500]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/boost/scan-opportunities",
        "options": {}
      },
      "name": "Scan Boost Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1c4dc325-77ad-4b5b-a8fd-e7c3fc35ba08",
              "leftValue": "={{$json.triggers.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Viral Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 500]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/ads/create-campaigns",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "triggers",
              "value": "={{$json.triggers}}"
            },
            {
              "name": "channels",
              "value": "=[\"tiktok\", \"meta\", \"google\"]"
            }
          ]
        },
        "options": {}
      },
      "name": "Create Ad Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 500]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/dashboard/notify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "boost_created"
            },
            {
              "name": "campaigns",
              "value": "={{$json.campaigns}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "name": "Nightly 02:00 JST",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [220, 700]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/attribution/ingest-conversions",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "networks",
              "value": "=[\"a8net\", \"valuecommerce\", \"amazon\"]"
            },
            {
              "name": "decay",
              "value": "0.8"
            }
          ]
        },
        "options": {}
      },
      "name": "Ingest Affiliate Conversions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 700]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/bandit/update-priors",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "conversionData",
              "value": "={{$json.conversions}}"
            },
            {
              "name": "decayFactor",
              "value": "0.8"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Bandit Priors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 700]
    },
    {
      "parameters": {
        "url": "{{$json.baseUrl}}/api/reports/generate-daily",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "metrics",
              "value": "={{$json.learningMetrics}}"
            },
            {
              "name": "emailTo",
              "value": "admin@urepli.com"
            }
          ]
        },
        "options": {}
      },
      "name": "Email Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 700]
    }
  ],
  "connections": {
    "Daily 05:00 JST Trigger": {
      "main": [
        [
          {
            "node": "Harvest TikTok Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Harvest TikTok Trends": {
      "main": [
        [
          {
            "node": "Process Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Trends": {
      "main": [
        [
          {
            "node": "Generate Creative Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Creative Content": {
      "main": [
        [
          {
            "node": "Route Best Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Best Offers": {
      "main": [
        [
          {
            "node": "Multi-Platform Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi-Platform Post": {
      "main": [
        [
          {
            "node": "Queue Boost Watcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hourly Boost Check": {
      "main": [
        [
          {
            "node": "Scan Boost Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Boost Opportunities": {
      "main": [
        [
          {
            "node": "Has Viral Content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Viral Content?": {
      "main": [
        [
          {
            "node": "Create Ad Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ad Campaigns": {
      "main": [
        [
          {
            "node": "Notify Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nightly 02:00 JST": {
      "main": [
        [
          {
            "node": "Ingest Affiliate Conversions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Affiliate Conversions": {
      "main": [
        [
          {
            "node": "Update Bandit Priors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bandit Priors": {
      "main": [
        [
          {
            "node": "Email Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-12T16:00:00.000Z",
      "updatedAt": "2024-09-12T16:00:00.000Z",
      "id": "jp-automation",
      "name": "Japanese Market Automation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-09-12T16:00:00.000Z",
  "versionId": "1"
}